/src/main/resources/hibernate.properties
/target/
/.idea/
/src/test/resources/hibernate.properties
src/main/resources/hibernate.cfg.xml
.settings/
Mem_cards.iml
.project
.classpath
.github/workflows/build.yml
.github/workflows/build.yml
